body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#newMessage {
    width: 100%;
    max-width: none;
}

#messages {
    margin-top: 1em;
    padding-left: 0;
}

#messages li {
    list-style: none;
    margin-bottom: 0.2em;
}

#signInForm input[type='text'], #signInForm input[type='password'] {
    width: 100%;
    max-width: none;
}

#signInForm div.row:first-child {
    margin-top: 1em;
}

#signInForm div.row {
    margin-bottom: 0.5em;
}

#signInForm div.row:last-child {
    text-align: right;
}

#newMessageContainer {
    margin-top: 1em;
}